.wrapper {
  padding-top: 32px;
  padding-bottom: 36px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main); /* deep green similar to screenshot */
  margin-bottom: 10px;
}

.subtitle {
  max-width: 760px;
  line-height: 1.35;
  color: var(--main); /* softer green */
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.slider :global(.swiper-wrapper) {
  align-items: center;
}

.slideWrap {
  height: 150px !important;
}
.logoCard {
  width: 200px !important;
  height: 200px !important;
  border-radius: 12px;

  display: grid;
  place-items: center;
  margin: 10px auto;
}

.logoImg {
  width: 170px;
  height: 200px;
  object-fit: contain;
  /* mix-blend-mode: lighten; */
}

/* tighter gutters on small screens */
@media (max-width: 575.98px) {
  .wrapper {
    padding-top: 26px;
    padding-bottom: 30px;
  }
  .subtitle {
    padding-left: 12px;
    padding-right: 12px;
  }

  .slideWrap {
    height: 150px !important;
    width: 200px !important;
  }
}
.slider :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
  align-items: center;
}
