h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  font-family: "Outfit", sans-serif !important;
}

body {
  overflow-x: hidden;
}
:root {
  --main: #02492e;
}
.navbar-custom {
  background-color: #008951 !important;
  color: white;
  padding: 0 !important;
}
#mySidenav {
  padding: 15px 20px;
  border-radius: 30px;
  gap: 20px;
}
.navbar .nav-btn {
  background-color: white !important;
  color: var(--main) !important;
  padding: 12px 30px !important;
}
#mySidenav li a {
  color: white;
}
.navbar-collapse a.btn {
  color: #1e0304;
  padding: 15px 60px !important;
  border-radius: 30px !important;
  padding-top: 18px !important;
}
.logo-link {
  color: white;
  padding: 15px 40px !important;
  border-radius: 30px !important;
  /* padding-top: 18px !important; */
}

.nav-sticky.navbar {
  margin-top: 0px !important;
  color: #000 !important;
}
.nav-sticky.navbar .logo-link,
.nav-sticky.navbar #mySidenav {
  background-color: #008951 !important;
  color: white !important;
}

.nav-sticky.navbar #mySidenav a {
  color: white !important;
}

.accordion-button:not(.collapsed) {
  background-color: white;
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.accordion-button {
  padding: 0px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.img-fluid {
  height: 100% !important;
}
.toast {
  background-color: white !important; /* Green background */
  color: var(--main) !important;
}

.toast-header {
  background-color: white !important; /* Green background */
  color: var(--main) !important;
}
footer {
  padding-top: 80px !important;
  width: 100%;
}

.footer_text_main {
  color: white;
  font-size: 6rem;
  text-align: center;
  width: 100%;
}
.list-group-item:first-child {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}

.list-group-item {
  border: none !important;
}

#root {
  overflow-x: hidden;
}
.contactnavbtn {
  padding: 18px 30px !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}
/* responsive */

@media all and (min-width: 300px) and (max-width: 769px) {
  .hero-7 .hero-7-title {
    font-size: 30px !important;
    font-weight: 900;
  }
  .footer_text_main {
    font-size: 2rem;
  }
  #mySidenav {
    background-color: white !important;
    padding: 0px;
    border-radius: 0px;
    gap: 0px;
    color: var(--main) !important;
  }
  .navbar .navbar-nav li .nav-link {
    color: var(--main) !important;
  }
  .navbar-collapse a.btn {
    color: var(--main) !important;
    background-color: white !important;
    padding: 0px 0px !important;
    padding-top: 0px;
    border-radius: 0px !important;
    padding-top: 10px !important;
  }
  .logo-link {
    padding: 0 !important;
    background-color: white !important;
  }
  .nav-sticky.navbar .logo-link,
  .nav-sticky.navbar #mySidenav,
  .nav-sticky.navbar .nav-btn {
    background-color: white !important;
    color: var(--main) !important;
  }
  .nav-sticky.navbar #mySidenav a {
    color: var(--main) !important;
  }
}
